<ul class="icons">
    <li><a href="mailto:{{ site.email }}" class="icon alt fa-envelope" target="_blank"><span
                class="label">Email</span></a></li>
    <li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span
                class="label">Facebook</span></a></li>
    <li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span
                class="label">Instagram</span></a></li>
    <li><a href="{{ site.snapchat_url }}" class="icon alt fa-snapchat" target="_blank"><span
                class="label">Snapchat</span></a></li>
    <li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a>
    </li>
    <li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span
                class="label">LinkedIn</span></a></li>
    <li><a href="{{ site.spotify_url }}" class="icon alt fa-spotify" target="_blank"><span
                class="label">Spotify</span></a></li>
    <li><a href="{{ site.steam_url }}" class="icon alt fa-steam" target="_blank"><span class="label">Steam</span></a>
    </li>
</ul>