<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% include head.html %}
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include nav.html %}
    <main class="mdl-layout__content">
      <div class="mdl-grid portfolio-max-width">

        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
          <div class="mdl-grid portfolio-copy">
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </main>
  </div>
</body>

</html>