<!DOCTYPE html>
<html>

{% include head.html %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        {% include header.html %}

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>{{ page.landing-title }}</h1>
                </header>
                <div class="content">
                    <p style="text-transform: uppercase;">{{ site.description }}</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Get Started</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            {% include tiles.html %}

            <!-- Two -->
            <section id="two">
                <div class="inner">
                    <header class="major">
                        <h2>{{ page.title }}</h2>
                    </header>
                    <p>{{ content }}</p>
                </div>
            </section>

        </div>

        <!-- Footer -->

        {% include footer.html %}

    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>
